Package: com.touchxkcd
Name: TouchXKCD
Depends: firmware (>= 6.0)
Version: 1.0.0
Architecture: iphoneos-arm
Description: The definitive XKCD application for legacy iOS devices. Browse, search, download, and favourite XKCD comics offline.
Maintainer: TouchXKCD Team
Author: RealJK1116
Section: Entertainment
Tag: purpose::entertainment
